*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    width: 1440px;
    background-color: #C7AD80;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: "Alegreya";
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/Frame\ 6.png');
  width: 1441px;
  height: 11071px;
  opacity: 0.2;
} 

/* <!-- ПЕРВЫЙ ЭКРАН --> */
.firstscreen {
  display: flex;
  position: relative;
  width: 1440px;
  height: 1607px;
  background: #C7AD80;
}

.mouse {
  position: absolute;
  left: 1030px; /* смещение по X */
  top: 47px; /* смещение по Y */
}
.mouse-2 {
  position: absolute;
  left: 40px; /* смещение по X */
  top: 419px; /* смещение по Y */
}
.mouse_on_text {
  position: absolute;
  left: 355px; /* смещение по X */
  top: 173px; /* смещение по Y */
}
.castle{
position: absolute;
  justify-content: center;
    align-items: center;
  top: 440px; /* смещение по Y */
}
.head  h1{
  font-weight: normal;
  font-style: normal;
  font-size: 250px;
  position: absolute;
  top: 220px;
  left: 286px;
  color: #80212B;
}
.head  h2{
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  position: absolute;
    left: 490px;
  top: 550px;
  color: black;
}
.Text {
font-weight: normal;
  font-style: normal;
  font-size: 34px;
  position: absolute;
    left: 490px;
  top: 550px;
  color: black;

}