*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body{
    width: 1440px;
    background-color: #C7AD80;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: "Alegreya";
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/Frame\ 6.png');
  width: 1440px;
  height: 11071px;
  opacity: 0.2;
}

/* <!-- ПЕРВЫЙ ЭКРАН --> */
.firstscreen {
  display: flex;
  position: relative;
  width: 1440px;
  height: 1607px;
  background: #C7AD80;
}

.mouse {
  position: absolute;
  left: 1030px; /* смещение по X */
  top: 47px; /* смещение по Y */
}
.mouse-2 {
  position: absolute;
  left: 40px; /* смещение по X */
  top: 419px; /* смещение по Y */
}
.mouse_on_text {
  position: absolute;
  left: 355px; /* смещение по X */
  top: 173px; /* смещение по Y */
}
.castle{
position: absolute;
  justify-content: center;
    align-items: center;
  top: 440px; /* смещение по Y */
}
.head  h1{
  font-weight: normal;
  font-style: normal;
  font-size: 250px;
  position: absolute;
  top: 220px;
  left: 286px;
  color: #80212B;
}
.head  h2{
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  position: absolute;
  left: 490px;
  top: 550px;
  color: black;
}
.head p{
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 70px;
  font-size: 34px;
  position: absolute;
  top: 712px;
  left: 315px;
  color: #000000;
}
.Vampire{
 font-weight: normal;
  font-style: normal;
  font-size: 240px;
  position: absolute;
  top: 1330px;
  left: 40px;
  color:#C7AD80;  
}

/* <!-- ВТОРОЙ ЭКРАН --> */
.secondscreen {
  display: flex;
  position: relative;
  width: 1440px;
  height: 1423px;
  background: #C7AD80;
}
.teeth {
position: absolute;
  justify-content: center;
  align-items: center;
  top: 1600px;  
}
.Avtor {
position: absolute;
  left: 875px; /* смещение по X */
  top: 2313px; /* смещение по Y */ 
}
.History h3{
font-weight: normal;
  font-style: normal;
  font-size: 96px;
  position: absolute;
  top: 2148px;
  left: 363px;
  color: #80212B;  
}
.History p{
font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 70px;
  font-size: 34px;
  position: absolute;
  top: 2331px;
  left: 190px;
  color: #000000;
}
.a{
font-weight: normal;
  font-style: normal;
  font-size: 180px;
  position: absolute;
  transform: rotate(-23deg);
  top: 2792px;
  left: 1110px;
  color:#C7AD80;  
}
.q{
font-weight: normal;
  font-style: normal;
  font-size: 150px;
  position: absolute;
  top: 2850px;
  left: 706px;
  color:#C7AD80;  
}
.g{
font-weight: normal;
  font-style: normal;
  font-size: 180px;
  position: absolute;
  transform: rotate(82deg);
  top: 2880px;
  left: 490px;
  color:#C7AD80;  
}
.w{
font-weight: normal;
  font-style: normal;
  font-size: 150px;
  position: absolute;
  top: 2860px;
  left: 230px;
  color:#C7AD80;  
}
.u{
font-weight: normal;
  font-style: normal;
  font-size: 180px;
  position: absolute;
  transform: rotate(-42deg);
  top: 2850px;
  left: 50px;
  color:#C7AD80;  
}
.F{
font-weight: normal;
  font-style: normal;
  font-size: 150px;
  position: absolute;
  transform: rotate(13deg);
  top: 2848px;
  left: 940px;
  color:#C7AD80;  
}
.f{
font-weight: normal;
  font-style: normal;
  font-size: 180px;
  position: absolute;
  transform: rotate(-70deg);
  top: 2850px;
  left: 1290px;
  color:#C7AD80;  
}
/* <!-- ТРЕТИЙ ЭКРАН --> */

.thirdscreen {
  display: flex;
  position: relative;
  width: 1440px;
  height: 1262px;
  background: #C7AD80;
}
.Fon {
position: absolute;
  justify-content: center;
  align-items: center;
  top: 3022px;
}
.paytina {
position: absolute;
  left: 968px; /* смещение по X */
  top: 3089px; /* смещение по Y */  
}
.Osobennosti h2{
font-weight: normal;
  font-style: normal;
  font-size: 150px;
  position: absolute;
  left: 40px;
  top: 3190px;
  color:#80212B;  
}
.Osobennosti p{
font-weight: normal;
  font-style: normal;
  font-size: 800px;
  position: absolute;
  left: 315px;
  top: 3300px;
  color: black;   
}
.Kryg1{
position: absolute;
  left: 160px; /* смещение по X */
  top: 3790px; /* смещение по Y */   
}
.Kryg2{
  position: absolute;
  left: 480px; /* смещение по X */
  top: 3800px; /* смещение по Y */ 
  transform: rotate(120deg);
}
.Ygol {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 70px;
  font-size: 36px;
  position: absolute;
  top: 3755px;
  left: 36px;
  color:black;
}
.Anti {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 70px;
  font-size: 36px;
  position: absolute;
  top: 4040px;
  left: 490px;
  color:black;
}
.Entan {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 70px;
  font-size: 36px;
  position: absolute;
  top: 3615px;
  left: 1090px;
  color:black;
}
.Progib {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 80px;
  font-size: 36px;
  position: absolute;
  top: 3770px;
  left: 1105px;
  color:black;
}
.Elements {
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  padding: right 80px;
  font-size: 36px;
  position: absolute;
  top: 4010px;
  left: 1036px;
  color:black;
}
/* <!-- ЧЕТВЕРТЫЙ ЭКРАН --> */

.fourthscreen {
  display: flex;
  position: relative;
  width: 1440px;
  height: 1262px;
  background: #C7AD80;
}
.black {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 4270px;
}
.mirror {
position: absolute;
  left: 45px; /* смещение по X */
  top: 4420px; /* смещение по Y */    
}
.paper {
position: absolute;
  left: 775px; /* смещение по X */
  top: 4420px; /* смещение по Y */    
}
.language h3{
font-weight: normal;
  font-style: normal;
  font-size: 300px;
  position: absolute;
  top: 4650px;
  left: 195px;
  color:#C7AD80;    
}
.language p{
font-weight: normal;
  font-style: normal;
  font-size: 80px;
  position: absolute;
  top: 4940px;
  left: 240px;
  color:#C7AD80;     
}
.Nachertania h3{
font-weight: normal;
  font-style: normal;
  font-size: 350px;
  position: absolute;
  top: 4500px;
  left: 930px;
  color:#80212B;      
}
.Nachertania p{
font-weight: normal;
  font-style: normal;
  font-size: 80px;
  position: absolute;
  top: 4835px;
  left: 835px;
  color:#80212B;      
}

/* <!-- ПЯТЫЙ ЭКРАН --> */

.fivescreen {
 display: flex;
  position: relative;
  width: 1440px;
  height: 5000px;
}

.fivescreen p{
font-weight: normal;
  font-style: normal;
  font-size: 150px;
  position: absolute;
  top: 3940px;
  left: 27px;
  color:#80212B;      
}
.Shift{
position: absolute;
  justify-content: center;
  align-items: center;
  top: 5000px;  
}

.G1{
  position: absolute;
  left: 2px; /* смещение по X */
  top: 4240px; /* смещение по Y */   
}
.G2{
  position: absolute;
  left: 560px; /* смещение по X */
  top: 4260px; /* смещение по Y */   
}
.G3{
  position: absolute;
  left: 940px; /* смещение по X */
  top: 3965px; /* смещение по Y */   
}
.G4{
  position: absolute;
  left: 50px; /* смещение по X */
  top: 4805px; /* смещение по Y */   
}
.G5{
  position: absolute;
  left: 335px; /* смещение по X */
  top: 4590px; /* смещение по Y */   
}
.G6{
  position: absolute;
  left: 850px; /* смещение по X */
  top: 4465px; /* смещение по Y */   
}
.Italic h3 {
font-style: italic;
  font-weight: 400;
  font-size: 150px;
  position: absolute;
  transform: rotate(38deg);
  top: 5895px;
  left: 220px;
  color:#C7AD80;      
}
.Italic p {
font-style: normal;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  transform: rotate(38deg);
  top: 6025px;
  left: 150px;
  color:#C7AD80;      
}
.Regular h3 {
font-style: normal;
  font-weight:400;
  font-size: 150px;
  position: absolute;
  transform: rotate(60deg);
  top: 6070px;
  left: 320px;
  color:#80212B;      
}
.Regular p {
font-style: normal;
  font-weight:400;
  font-size: 48px;
  position: absolute;
  transform: rotate(-28deg);
  top: 6185px;
  left: 145px;
  color:#80212B;      
}
.Medium h3 {
font-style: normal;
  font-weight: 500;
  font-size: 150px;
  position: absolute;
  transform: rotate(-48deg);
  top: 5915px;
  left: 640px;
  color:#000000;      
}
.Medium p {
font-style: normal;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  transform: rotate(38deg);
  top: 6060px;
  left: 715px;
  color:#000000;      
}
.ExtraBold h3 {
font-style: normal;
  font-weight: 800;
  font-size: 150px;
  position: absolute;
  transform: rotate(-60deg);
  top: 5770px;
  left: 1010px;
  color:#80212B;      
}
.ExtraBold p {
font-style: normal;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  transform: rotate(30deg);
  top: 5900px;
  left: 1100px;
  color:#80212B;      
}
.Bold h3 {
font-style: normal;
  font-weight: 700;
  font-size: 150px;
  position: absolute;
  transform: rotate(-38deg);
  top: 5610px;
  left: 1145px;
  color:#C7AD80;      
}
.Bold p {
font-style: normal;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  transform: rotate(-40deg);
  top: 5750px;
  left: 1210px;
  color:#C7AD80;      
}
.Black h3 {
 font-style: normal;
  font-weight: 900;
  font-size: 150px;
  position: absolute;
  transform: rotate(-42deg);
  top: 6430px;
  left: 110px;
  color:#C7AD80;      
}
.Black p {
 font-style: normal;
  font-weight: 400;
  font-size: 48px;
  position: absolute;
  transform: rotate(-45deg);
  top: 6550px;
  left: 160px;
  color:#C7AD80;      
}
.MediumItalic h3 {
 font-style: italic;
  font-weight: 500;
  font-size: 150px;
  position: absolute;
  transform: rotate(46deg);
  top: 6290px;
  left: 640px;
  color:#000000;      
}
.MediumItalic p {
 font-style: normal;
  font-weight: 400;
  font-size: 40px;
  position: absolute;
  transform: rotate(-36deg);
  top: 6455px;
  left: 425px;
  color:#000000;      
}
.ExtraBoldItalic h3 {
 font-style: italic;
  font-weight: 800;
  font-size: 150px;
  position: absolute;
  top: 6505px;
  left: 590px;
  color:#80212B;      
}
.ExtraBoldItalic p {
 font-style: normal;
  font-weight: 400;
  font-size: 40px;
  position: absolute;
  top: 6535px;
  left: 680px;
  color:#80212B;      
}
.BoldItalic h3 {
 font-style: italic;
  font-weight: 700;
  font-size: 150px;
  transform: rotate(-30deg);
  position: absolute;
  top: 6280px;
  left: 1020px;
  color:#C7AD80;      
}
.BoldItalic p {
 font-style: normal;
  font-weight: 400;
  font-size: 40px;
  transform: rotate(-31deg);
  position: absolute;
  top: 6430px;
  left: 1085px;
  color:#C7AD80;      
}
.BlackItalic h3 {
 font-style: italic;
  font-weight: 900;
  font-size: 150px;
  position: absolute;
  top: 6210px;
  left: 1210px;
  color:#000000;      
}
.BlackItalic p {
 font-style: normal;
  font-weight: 400;
  font-size: 40px;
  position: absolute;
  top: 6350px;
  left: 1212px;
  color:#000000;      
}
.Nis{
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 6780px;  
}
.Verx{
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 5395px;  
}

/* <!-- ШЕСТОЙ ЭКРАН --> */

.fivescreen {
 display: flex;
  position: relative;
  width: 1440px;
  height: 5000px;
}  
.Books{
 position: absolute;
  justify-content: center;
  align-items: center;
  top: 6950px;  
}
.Spider{
 position: absolute;
  justify-content: center;
  align-items: center;
  top: 6881px;
  left: 64px;    
}
.Pechat{
font-style: normal;
  font-weight:400;
  font-size: 64px;
  position: absolute;
  transform: rotate(-15deg);
  top: 7820px;
  left: 720px;
  color:#C7AD80;   
}
.Zagolovok{
font-style: normal;
  font-weight:400;
  font-size: 64px;
  position: absolute;
  transform: rotate(-20deg);
  top: 7960px;
  left: 870px;
  color:#C7AD80;   
}
.Podzag{
font-style: normal;
  font-weight:400;
  font-size: 64px;
  position: absolute;
  transform: rotate(-25deg);
  top: 8086px;
  left: 900px;
  color:#C7AD80;   
}
.Ypak{
font-style: normal;
  font-weight:400;
  font-size: 64px;
  position: absolute;
  transform: rotate(-28deg);
  top: 8186px;
  left: 1000px;
  color:#C7AD80;   
}
/* <!-- СЕДЬМОЙ ЭКРАН --> */

.Sixscreen {
 display: flex;
  position: relative;
  width: 1440px;
  height: 5000px;
}  
.Vino{
 position: absolute;
  justify-content: center;
  align-items: center;
  top: 8550px;
  left: 5px;  
}
.Glifs {
font-weight: normal;
  font-style: normal;
  font-size: 150px;
  position: absolute;
  left: 980px;
  top: 8820px;
  color:#000000;  
}
/* <!-- СЕДЬМОЙ ЭКРАН --> */

.sevenscreen {
 display: flex;
  position: relative;
  width: 1440px;
  height: 5000px;
}  
.Podval{
 position: absolute;
  justify-content: center;
  align-items: center;
  top: 10105px;
}
.Name {
font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  font-size: 64px;
  position: absolute;
  left: 40px;
  top: 10800px;
  color:#C7AD80;  
}